body {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento";
  font-size: 562.5%; /*static fonts dont inherit and add the fontt of parent to child but dynamic ones do*/
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat",sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat",sans-serif;
  color: #11999e;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a,
a:focus,
a:active {
  font-family: "Montserrat",sans-serif;
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6
}

.top-container {
  background-color: #e6fef7;
  position: relative;
  padding-top: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}
.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
  
}

.me-pic {
  margin-top: 100px;
  width: 15%;
  border-radius: 50%;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.footer-link {
  color: #11999e;
}

.skills-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
}

.dsa-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.car-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.reach-ln {
  padding-bottom: 40px;
}

.copy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
  padding-top: 10px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #00b0b0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #3498db);
  background-image: -moz-linear-gradient(top, #66bfbf, #3498db);
  background-image: -ms-linear-gradient(top, #66bfbf, #3498db);
  background-image: -o-linear-gradient(top, #66bfbf, #3498db);
  background-image: linear-gradient(to bottom, #66bfbf, #3498db);
  text-decoration: none;
}
